@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StampRSPK";
  src: url(../type/StampRSPKThree-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  --background-color: rgb(60, 59, 81);
  --text-color: rgb(255, 254, 254);

  --page-background: light-dark(rgb(46, 49, 71), rgb(11, 11, 11));
}

/* .lightmode { */
/* --page-background: rgb(75, 81, 136); */
/* --tekst-color: white; */
/* --kopje-color: rgb(46, 47, 67); */
/* } */

body {
  font-family: "StampRSPK";
  color: var(--text-color);
  background-color: var(--page-background);

  margin: 0;
  padding: 2em;

  width: 100vw;
  overflow-x: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(100, 6em);
  grid-auto-rows: 12em;
  width: max-content;
}

/* MARK: header */
header {
  position: relative;
  width: 30em;
  padding-left: 6em;
  top: 4em;
  z-index: 3;
}

h1 {
  position: relative;
  font-size: clamp(2.5rem, 2.2573rem + 1.0356vw, 3.5rem);
  /* margin-left: 1em;  */
  /* bah */
}

p {
  max-width: 50em;
  font-size: clamp(0.5rem, 0.7rem + 0.6472vw, 1.875rem);
}

figcaption {
  margin: 2em; /* bah */
}

img[alt="astronaut"] {
  animation: bounce 3s ease-in-out infinite;
  position: fixed;

  left: 50%;
  top: 50%;
  z-index: 2;
  /* z-index zorgt voor lagen in de css. Het begint onder bij 0. */
}

button[popovertarget="cookie"] {
  position: fixed;
  left: 10%;
  z-index: 0;
  top: 0;
  animation: zinken 8s normal forwards;
  background: none;
  border: none;
}

#cookie:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columns van 1 fr gemaakt voor het accepteren en afwijzen knopje zodat ze naast elkaar staan. */
    gap: 1em;
  }

  button {
    padding: 2em;
  }
}

.img-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button[popovertarget="telescopefish"]:not([popovertargetaction="hide"]) {
  animation: bounce 1.5s ease-in-out infinite;
  grid-column: 10;
  grid-row: 2;
  transition: 0.3s;
  background: none;
  border: none;
  z-index: 1;
}

#telescopefish:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[popover] {
  width: calc(100% - 2em);
  padding: 2em;
  max-width: 40em;
  img {
    object-fit: contain;
  }
}

[popovertarget="dumbooctopus"]:not([popovertargetaction="hide"]) {
  /* dit betekent dat de css hieronder geld voor alle knoppen binnen het dumbooctopus stukje behalve de popovertargetaction=hide waardoor die niet beweegt en de styling van wat hieronder krijgt. */
  animation: bounce 1s ease-in-out infinite;
  grid-column: 8;
  grid-row: 3;
  transition: 0.3s;
  background: none;
  border: none;
}
#dumbooctopus:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[popovertargetaction="hide"] {
  align-self: flex-start;
  padding: 1.5em;
  /* de styling van alle knoppen die popovertargetaction=hide uitvoeren */
}

[popovertarget="anglerfish"]:not([popovertargetaction="hide"]) {
  /* dit betekent dat de css hieronder geld voor alle knoppen binnen het anglerfish stukje behalve de popovertargetaction=hide waardoor die niet beweegt. */
  animation: bounce 2.5s ease-in-out infinite;
  grid-column: 30;
  grid-row: 3;
  transition: 0.3s;
  background: none;
  border: none;
}
#anglerfish:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[popovertarget="phantomjelly"]:not([popovertargetaction="hide"]) {
  /* dit betekent dat de css hieronder geld voor alle knoppen binnen het phantomjelly stukje behalve de popovertargetaction=hide waardoor die niet beweegt. */
  animation: bounce 4s ease-in-out infinite;
  grid-column: 75;
  grid-row: 1;
  transition: 0.3s;
  background: none;
  border: none;
}
#phantomjelly:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[popovertargetaction="hide"] {
  align-self: flex-start;
  padding: 1.5em;
}

button[popovertarget="bigfinsquid"]:not([popovertargetaction="hide"]) {
  background: none;
  border: none;
  z-index: 1;
  height: 74em;
  width: 69em;
  animation: bounce 2s ease-in-out infinite;
  grid-column: 50;
  grid-row: 1;
  transition: 0.3s;
  background: none;
  border: none;
}

#bigfinsquid:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* de popover-open zorgt dat de display: flex (en alles wat eronder staat) alleen gebeurd als de popover is geopend, anders overschrijft de display: flex de popover en is ie al open als je in de site komt. */

img[alt="dumbooctopus"]:hover {
  /* als je over de image hovered krijgt hij deze elementen */
  scale: 1.1;
  transition: 0.5s;
}

img[alt="telescopefish"]:hover {
  scale: 1.1;
  transition: 0.5s;
}

img[alt="bigbigfinsquid"]:hover {
  scale: 1.1;
  transition: 0.5s;
}

img[alt="anglerfishgetekend"]:hover {
  scale: 1.1;
  transition: 0.5s;
}
img[alt="phantomjellygetekend"]:hover {
  scale: 1.1;
  transition: 0.5s;
}

img[alt="cookie"]:hover {
  scale: 1.1;
  transition: 0.5s;
}

.overlay {
  position: fixed;
  inset: 0;
  /* hiermee zeg je bij position fixed of absolute hoe ver iets van een rand af zit. door 0 te zeggen zit het dus niet van de randen van de pagina af. */
  background: #036767;
  mix-blend-mode: color;
  /* dit zorgt ervoor dat het mooi mee blend en niet een grijze laag is */
  opacity: 0.3;
  pointer-events: none;
  /* zorgt ervoor dat je door de overlay niet niks meer kan aanklikken */
  z-index: 10;
  /* dit zorgt ervoor dat het altijd boven alles staat */
}

@keyframes zinken {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(820px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }

  container {
  }
}
