@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StampRSPK";
  src: url(../type/StampRSPKThree-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  --background-color: rgb(60, 59, 81);
  --text-color: rgb(255, 254, 254);

  --page-background: light-dark(rgb(46, 49, 71), rgb(11, 11, 11));
}

/* .lightmode { */
/* --page-background: rgb(75, 81, 136); */
/* --tekst-color: white; */
/* --kopje-color: rgb(46, 47, 67); */
/* } */

body {
  font-family: "StampRSPK";
  color: var(--text-color);
  background-color: var(--page-background);

  margin: 0;
  padding: 2em;

  width: 100vw;
  overflow-x: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(100, 6em);
  grid-auto-rows: 12em;
  width: max-content;
}

/* MARK: header */
header {
  position: relative;
  width: 30em;
  padding-left: 6em;
  top: 4em;
}

h1 {
  display: relative;
  font-size: clamp(2.5rem, 2.2573rem + 1.0356vw, 3.5rem);
  /* margin-left: 1em;  */
  /* bah */
}

p {
  max-width: 50em;
  font-size: clamp(0.5rem, 0.7rem + 0.6472vw, 1.875rem);
}

figcaption {
  margin: 2em; /* bah */
}

img[alt="astronaut"] {
  animation: bounce 3s ease-in-out infinite;
  position: fixed;

  left: 50%;
  top: 50%;
}

#Cookies:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  button {
    padding: 2em;
  }
}

#telescopefisharticle {
  grid-column: 12/16;
  max-width: 50em;
  grid-row: 2;
  height: fit-content;
  p {
    font-size: 1em;
  }
  background-color: rgb(25, 25, 25);
  padding: 1.5em;
  border-color: #e8e9d9;
  border-radius: 2em;
}
/* img[alt="telescopefish"] { */

.img-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button[popovertarget="telescopefish"] {
  animation: bounce 1.5s ease-in-out infinite;
  grid-column: 9;
  grid-row: 2;
  transition: 0.3s;
  background: none;
  border: none;
}

#telescopefish:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[popover] {
  width: calc(100% - 2em);
  padding: 2em;
  max-width: 40em;
  img {
    object-fit: contain;
  }
}

[popovertarget="dumbooctopus"]:not([popovertargetaction="hide"]) {
  animation: bounce 1s ease-in-out infinite;
  grid-column: 15;
  grid-row: 3;
  transition: 0.3s;
  background: none;
  border: none;
}
#dumbooctopus:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[popovertargetaction="hide"] {
  align-self: flex-start;
  padding: 1.5em;
}

button[popovertarget="bigfinsquid"] {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background: none;
  border: none;

  height: 74em;
  width: 69em;
  animation: bounce 2s ease-in-out infinite;
  grid-column: 41;
  grid-row: 1;
  transition: 0.3s;
  background: none;
  border: none;
}

#bigfinsquid:popover-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* de popover-open zorgt dat de display: flex alleen gebeurd als de popover is geopend, anders overschrijft de display: flex de popover en is ie al open als je in de site komt. */

img[alt="anglerfish"] {
  grid-column: 10;
  grid-row: 2;
  animation: bounce 3s ease-in-out infinite;
}

img[alt="dumbooctopus"]:hover {
  scale: 1.1;
}

img[alt="telescopefish"]:hover {
  scale: 1.1;
}

img[alt="bigbigfinsquid"]:hover {
  scale: 1.1;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
